
html {
    body {
        background-color: white;
        margin: 0;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        h1,h2,h3 {
            margin: 0;
        }
        .heading {
            h3 {
                margin: 50px 0 40px;
            }
        }
        a {
            &.button {
                    padding:10px 20px;
                    display: inline-block;
                    color: #FFF;
                    background:#000;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    transition: 500ms;
                &.button-primary {
                    color: #000;
                    background:#FFF;
                    border:1px solid #FFF;
                    &:hover {
                        color: #FFF;
                        background:#000;
                        border:1px solid #FFF;
                    }
                }
                &.button-secondary {
                    color: #FFF;
                    background:#000;
                    border:1px solid #000;
                    &:hover {
                        color: #000;
                        background:#FFF;
                        border:1px solid #000;
                    }
                }
            }
        }
        header {
            nav {
                max-width: 1440px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left-menu, .right-menu {
                    ul {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-left: 10px;
                        li {
                            list-style-type: none;
                            &:hover {
                                a { 
                                    font-weight: 600;
                                }
                            }
                            a {
                                padding: 9px 15px;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-size:14px;
                                font-weight: 400;
                                color:#000;
                            }
                            &.currency  {
                                .hldr {
                                    border: 1px solid #F2F2F2;
                                    border-radius: 25px;
                                    padding:5px;
                                    display: flex;
                                    gap: 2px;;
                                    justify-content: center;
                                    align-items: center;
                                    img:last-child {
                                        margin-left: 10px;
                                        padding: 0 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .right-menu {
                   ul {
                       gap: 10px;
                       li {
                          a {
                            display: inline-block;
                            padding: 5px 5px;
                          } 
                       }
                   }
                }
            }
            .logo {

            }
            .nav-banner {
                background-color:  #E5E5E5;
                height: 50px;
                .deals {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    padding:0 20px;
                    div {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 16px;
                        }
                        span {
                            font-size: 12px;
                            line-height: 14.6px;
                        }
                    }
                }
            }
        }
        .container {
            max-width: 1440px;
            margin: 0 auto;
        }
        #main {
            #hero-carousel {
                width: 100%;
                margin-bottom: 0;
                .item {
                    width: 100%;
                    height: 650px;
                    background-size: cover !important;
                }
                .slick-prev {
                    background: url("../../img/left.svg");
                    left:25px;
                    z-index: 2;
                    width: 50px;
                    height: 50px;
                    display: block;
                    &::before {
                        content: '';
                        
                    }
                }
                .slick-next {
                    background: url("../../img/right.svg");
                    right:25px;
                    z-index: 2;
                    width: 50px;
                    height: 50px;
                    display: block;
                    &::before {
                        content: '';
                        
                    }
                }
                .slick-dots {
                    bottom: 35px;
                    .slick-active {
                        button {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                    button {
                        &::before {
                            content:'';
                            opacity:0.5;
                            display: block;
                            background: white;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                        }

                    }
                }
            }
            #deals {
                .container{
                    display: flex;
                    height: 150px;
                    justify-content: space-around;
                    align-items: center;
                    .deal {
                        .price {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            span:first-child {
                                font-size:32px;
                                font-weight: 600;
                                line-height: 39px;
                            }
                            span {
                                font-weight:800;
                                font-size: 18px;
                                line-height: 19px;
                            }
                        }
                        .short {
                            font-size: 10px;
                            text-transform: uppercase;
                            line-height: 12px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            #exclusive {
                
                .content {
                    height: 75px;
                    background: url('../../img/exclusive.jpg');
                    color:#FFF;
                    display: flex;
                    align-items: center;
                    .heading {
                        font-size:32px;
                        font-weight: 800;
                        line-height: 39px;
                        margin-left: 118px;
                    }
                    .details {
                        font-size: 18px;
                        line-height: 22px;
                        max-width: 355px;
                        margin-left: 50px;
                    }
                    .cta {
                        justify-self: flex-end;
                        margin: 0 auto;
                    }
                }
            }
            #trending {
                h3 {
                    text-align: center;
                    font-size: 36px;
                    font-weight: 800;
                    margin-bottom: 30px;
                }
                span.short {
                    font-size:14px;
                    line-height: 17px;
                    text-align: center;
                    color: #000;
                    display: block;
                }
                .categories {
                    max-width:1060px;
                    margin: 20px auto;
                    display: flex;
                    flex-wrap: wrap;
                    .category {
                        padding: 20px;
                        width:calc(25% - 40px);
                        &:hover {
                            a {
                                .img-hldr {
                                    img {
                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }
                        a {
                            text-decoration: none;
                            color:#000;
                            cursor: pointer;
                            .img-hldr {
                                width: 100%;
                                height: 300px;
                                overflow: hidden;
                                img {
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                    transition: .2s ease;
                                }
                            }
                            .cat-name {
                                margin-top: 10px;
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 30px;
                                text-align: center;
                                
                            }
                        }
                    }
                }
                .hashtags {
                    max-width:1060px;
                    margin: 0 auto;
                    display: flex;
                    gap:25px;
                    justify-content: center;
                    .hashtag {
                        a {
                            display: block;
                            border: 1px solid #000;
                            border-radius: 25px;
                            padding:10px 20px;
                            font-size:14px;
                            line-height: 17px;
                            font-weight: 600;
                            text-decoration: none;
                            color:#000;
                            &:hover {
                                background: #000;
                                color:#FFF;
                            }
                        }
                    }
                }
            }
            #new-arrival {
                margin-top: 65px;
                .banner {
                    height: 400px;
                    background-size: cover !important;
                    display: flex;
                    align-items: center;
                    .content {
                        max-width:640px;
                        margin-left: auto;
                        .heading {
                            font-size: 86px;
                            line-height: 86px;
                            font-weight: 800;
                            color: #FFF;
                        }
                        .short {
                            margin-top: 21px;
                            font-size: 28px;
                            font-weight: 600;
                            color: #FFF;
                            line-height: 34px;
                        }
                        .cta {
                            margin-top: 43px;
                        }
                    }
                }
            }
            #recently-bought {
                margin-bottom: 50px;
                .heading {
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                }
                .products {
                    margin: 0 40px;
                    display: flex;
                    justify-content: space-between;
                    .product {
                        margin: 0 20px;
                        max-width: 225px;
                        cursor: pointer;
                        &:hover {
                            .img-hldr {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .img-hldr {
                            max-width: 225px;
                            height: 300px;
                            overflow: hidden;
                            img {
                                transition: .2s ease;
                            }
                        }
                        .prod-name {
                            min-height: 50px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            display: flex;
                            align-items: center;
                        }
                        .prod-price {
                            display: flex;
                            font-size: 14px;
                            font-weight: 800;
                            line-height: 17px;
                            .sale-price {
                                display: none;
                            }
                        }
                        &[data-sale="true"] {
                            .sale-price {
                                display: block;
                                margin-right: 30px;
                                color:#C1272D;
                            }
                            .price {
                                text-decoration: line-through
                            }
                        }
                    }
                }
            }
            #insta {
                background: #F2F2F2;
                padding-bottom: 50px;
                .heading {
                    text-align: center;
                    h3 {
                        font-size: 36px;
                        line-height: 44px;
                        font-weight: 800;
                        margin: 50px 0 30px;
                        display: inline-block;
                    }
                }
                .short {
                    text-align: center;
                    margin-bottom: 50px;
                }
                .posts {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 60px;
                    justify-content: space-between;
                    .post {
                        cursor: pointer;
                        &:hover {
                            .img-hldr {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .img-hldr {
                            max-width: 225px;
                            max-height: 225px;
                            overflow: hidden;
                            img {
                                transition: .2s ease;
                            }
                        }
                    }
                }
                .cta {
                    text-align: center;
                    margin-top: 30px;
                    display: block;
                    a {
                        text-transform: uppercase;
                    }
                }
            }
            #newsletter {
                .sign-up {
                    background:#000;
                    display: flex;
                    height: 75px;
                    align-items: center;
                    justify-content: center;
                    gap:50px;
                    .cta {
                        color: #FFF;
                        font-size: 32px;
                        line-height: 39px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                    .form {
                        max-width: 354px;
                        width: 100%;
                        display: flex;
                        input[type=email] {
                            height: 35px;
                            padding:0;
                            border: 0;
                            width: calc(100% - 37px);
                            background:#F2F2F2;
                            font-size:14px;
                            text-indent: 20px;
                            line-height: 17px;
                            font-family: "Montserrat";
                        }
                        .form-submit {
                            width: 35px;
                            height: 35px;
                            position: relative;
                            cursor: pointer;
                            &::before {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%) rotate(270deg);
                                content: "";
                                background: url('../../img/down.svg') ;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 20px;
                                height: 20px;
                            }
                            input[type=submit] {
                                cursor: pointer;
                                width: 35px;
                                height: 35px;
                                appearance: none;
                                border: 0;
                                background:#FFF;
                            }
                            
                        }
                        
                    }
                }
            }
            footer {
               
                .footer-container {
                    padding:40px;
                    display: flex;
                    .links {
                        width:150px;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.63px;
                        .heading {
                            font-weight: 600;
                        }
                        ul {
                            padding-left: 0;
                            li {
                                list-style-type: none;
                                padding:10px 10px;
                                padding-left: 0;
                                &:hover {
                                    font-weight: 600;
                                }
                                a {
                                    text-decoration: none;
                                    color: #000;
                                }
                            }
                        }
                        &.social-payments {
                            margin-left: 150px;
                            ul {
                                display: flex;
                                li {

                                }
                            }
                        }
                    }
                }
                .copyright {
                    padding:40px;
                    display: flex;
                    justify-content: space-between;
                    font-size:12px;
                    font-weight: 400;
                }
               
            }
        }

    }
} 